<form>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>
    <label for="gender">Gender:</label><br>
    <input type="text" id="gender" name="gender"><br>
    <label for="enrolled_university">Enrolled university:</label><br>
    <input type="text" id="enrolled_university" name="enrolled_university"><br>
    <label for="education_level">Education Level:</label><br>
    <input type="text" id="education_level" name="education_level"><br>
    <label for="major_discipline">Major Discipline:</label><br>
    <input type="text" id="major_discipline" name="major_discipline"><br>
    <label for="experience">Experience:</label><br>
    <input type="text" id="experience" name="experience"><br>
    <label for="company_size">Company Size:</label><br>
    <input type="text" id="company_size" name="company_size"><br>
    <label for="last_job">Last New Job:</label><br>
    <input type="text" id="last_job" name="last_job"><br>
    <label for="company_type">Company type:</label><br>
    <input type="text" id="company_type" name="company_type">
  </form>